---
import Plantilla from '@/plantillas/Plantilla.astro';
import { gql, obtenerDatos, urlImagen } from '@/utilidades/ayudas';
import { marked } from 'marked';

export async function getStaticPaths() {
  const Eventos = gql`
    query {
      eventos(filter: { estado: { _eq: "publicado" } }, sort: ["-fecha_inicio"]) {
        slug
      }
    }
  `;
  const { eventos } = await obtenerDatos<{ eventos: { slug: string }[] }>(Eventos);

  return eventos.map(({ slug }) => {
    return { params: { slug } };
  });
}

const { slug } = Astro.params;

interface Evento {
  titulo: string;
  slug: string;
  descripcion: string;
  contenido: string;
  enlace: string;
  registro: string;
  imagen: {
    id: string;
    title: string;
  };
}

const Evento = gql`
  query {
    eventos(filter: { slug: { _eq: "${slug}" }, estado: {_eq: "publicado"} }, limit: 1) {
      titulo
      slug
      descripcion
      contenido
      enlace
      registro
      imagen {
        id
        title
      }
    }
  }
`;

const { eventos } = await obtenerDatos<{ eventos: Evento[] }>(Evento);
const pagina = eventos && eventos.length ? eventos[0] : null;
---

<Plantilla titulo={pagina.titulo} descripcion={pagina.descripcion} imagen={pagina.imagen}>
  <main class="pagina">
    <section class="contenedorFluido">
      <h1 class="tituloPagina">{pagina.titulo}</h1>

      {pagina.registro && <iframe class="videoRegistro" src={pagina.registro} width="960" height="540" />}

      <div>
        {
          pagina.imagen && pagina.imagen.id && (
            <img
              src={urlImagen(pagina.imagen.id, {
                width: '1200',
                height: '630',
                quality: '90',
                format: 'webp',
              })}
              alt={pagina.imagen.title}
              width="1200"
              height="630"
            />
          )
        }
      </div>
    </section>

    <div>
      <Fragment set:html={marked.parse(pagina.contenido)} />
    </div>
  </main>
</Plantilla>

<style lang="scss">
  @import '../../scss/_constantes.scss';
  @import '../../scss/_mixins.scss';

  .titulo {
    font-size: 1.6em;
    padding: 0.3em 1.3em 0.5em 0.3em;
    margin-bottom: 1em;
  }

  .seccionProyecto {
    margin-top: 1em;
  }

  .enlace {
    padding: 0.5em;
    background-color: $colorPrincipal;
    font-weight: $fuentePrincipalPeso;
    color: white;
    width: 50%;
    text-align: center;
    width: 100%;
    margin: 1em 0;
    display: block;

    &:hover {
      opacity: 0.8;
    }

    &.proceso {
      background-color: $colorOscuro2;
    }
  }
</style>
