---
import Plantilla from '@/plantillas/Plantilla.astro';
import { formatoFecha, gql, obtenerDatos } from '@/utilidades/ayudas';
import Tarjeta from '@/componentes/Tarjeta.astro';
import type { CamposComunes, Evento } from '@/tipos';

const Eventos = gql`
  query {
    paginas(filter: { slug: { _eq: "eventos" }, estado: { _eq: "publicado" } }, limit: 1) {
      titulo
      slug
      descripcion
      contenido
      imagen {
        id
        title
      }
    }

    eventos(filter: { estado: { _eq: "publicado" } }, sort: ["-fecha_inicio"]) {
      titulo
      slug
      descripcion
      fecha_inicio
      fecha_fin

      imagen {
        id
        title
      }

      lugar {
        nombre
        pais {
          nombre
          slug
        }
      }

      organizador {
        colegas_id {
          nombre
          slug
        }
      }
    }
  }
`;
const { paginas, eventos } = await obtenerDatos<{ paginas: CamposComunes[]; eventos: Evento[] }>(Eventos);
const pagina = paginas.length && paginas[0].slug ? paginas[0] : null;
if (!pagina) return Astro.redirect('/404');

function partesFecha(fecha: Date) {
  return {
    año: fecha.getFullYear(),
    mes: fecha.toLocaleString('es-CO', { month: 'long' }),
    dia: fecha.getDate(),
  };
}

function fecha(fecha_inicio: string, fecha_fin: string): string | null {
  if (fecha_inicio && !fecha_fin) {
    return formatoFecha(new Date(fecha_inicio));
  } else if (fecha_fin && !fecha_inicio) {
    return formatoFecha(new Date(fecha_fin));
  }

  const partesInicio = partesFecha(new Date(fecha_inicio));
  const partesFin = partesFecha(new Date(fecha_fin));

  if (partesInicio.año === partesFin.año && partesInicio.mes === partesFin.mes && partesInicio.dia === partesFin.dia) {
    return `${partesInicio.dia} de ${partesInicio.mes}, ${partesInicio.año}`;
  } else if (partesInicio.año === partesFin.año && partesInicio.mes === partesFin.mes) {
    return `${partesInicio.dia}-${partesFin.dia} de ${partesInicio.mes}, ${partesInicio.año}`;
  } else if (partesInicio.año === partesFin.año && partesInicio.mes !== partesFin.mes) {
    return `${partesInicio.dia} de ${partesInicio.mes} al ${partesFin.dia} de ${partesFin.mes}, ${partesInicio.año}`;
  } else if (partesInicio.año !== partesFin.año) {
    return `${partesInicio.dia} de ${partesInicio.mes}, ${partesInicio.año} al ${partesFin.dia} de ${partesFin.mes}, ${partesInicio.año}`;
  }

  return null;
}
---

<Plantilla titulo={pagina.titulo} descripcion={pagina.descripcion} imagen={pagina.imagen}>
  <main id="archivoEventos" class="pagina">
    <h1 class="tituloPagina">{pagina.titulo}</h1>

    <div class="contenedorTarjetas">
      {
        eventos.map((evento: Evento) => (
          <Tarjeta datos={evento} imagen={evento.imagen} coleccion="eventos">
            <div class="fecha">
              <p class="textoEstado">{fecha(evento.fecha_inicio, evento.fecha_fin)}</p>
              <span class="notaEnFlujo" data-fecha={evento.fecha_fin || evento.fecha_inicio} />
            </div>

            <Fragment set:html={evento.descripcion} />
          </Tarjeta>
        ))
      }
    </div>
  </main>
</Plantilla>
