---
import Plantilla from '@/plantillas/Plantilla.astro';
import { gql, obtenerDatos } from '@/utilidades/ayudas';
import Logo from '@/componentes/svg/Logo.astro';

const General = gql`
  query {
    general {
      nombre
      subtitulo
      descripcion
      contenido
      color
      imagen {
        id
        title
        filename_download
        width
        height
      }
    }
  }
`;

const { general } = await obtenerDatos(General);
---

<Plantilla descripcion={general.descripcion} imagen={general.imagen}>
  <main id="inicio">
    <div id="lado1" class="lado">
      <Logo clase="inicio" />
      <div class="titulos">
        <h1 class="titulo">{general.nombre}</h1>
        <p id="texto" class="subtitulo">{general.subtitulo}</p>
      </div>
    </div>

    <div class="contenido"><p>{general.contenido}</p></div>
  </main>
</Plantilla>

<script>
  // import { distanciaEntreCoordenadas } from '@/utilidades/ayudas';

  // const respuestaIP = await fetch('http://ip-api.com/json');
  // const usuario = await respuestaIP.json();
  // const coordenadasEnflujo = [4.601247143009991, -74.06408649525687];

  // const distancia = distanciaEntreCoordenadas(usuario.lat, usuario.lon, coordenadasEnflujo[0], coordenadasEnflujo[1]);
  // console.log(distancia, usuario);

  // const parrafos = document.querySelectorAll('p');
  // const texto = document.getElementById('texto');
  // let palabra = 'caja';
  // function mostrarSeleccion(event) {
  //   //palabra = document.getSelection().toString();

  //   const selection = event.target.value.substring(event.target.selectionStart, event.target.selectionEnd);
  //   console.log(`You selected: ${selection}`);
  // }

  const parrafos = document.querySelectorAll('p');
  const texto = document.getElementById('texto');

  //const palabra = window.prompt('busca una palabra: ');

  const palabra = document.getSelection.toString();

  parrafos.forEach((parrafo) => {
    if (parrafo) {
      //const palabra = parrafo.addEventListener('click', mostrarSeleccion);

      console.log(palabra);
      const re = new RegExp(palabra, 'g');

      const resultado = re.exec(parrafo.innerText);

      // parrafo.addEventListener('click', mostrarSeleccion);

      if (resultado) {
        parrafo.innerHTML = parrafo.innerText.replace(re, `<span class="nodo">${palabra}</span>`);
      }
    }
  });
  const nodos = document.querySelectorAll('.nodo');

  const posiciones = [];

  nodos.forEach((nodo) => {
    nodo.style.backgroundColor = 'coral';
    //console.log(nodo.getBoundingClientRect());
  });

  function mostrarSeleccion(event) {
    const textico = document.getSelection();
    //const textico = event.target.value.substring(event.target.selectionStart, event.target.selectionEnd);
    console.log(`You selected: ${textico}`);
    return textico;
  }
</script>

<style lang="scss">
  @import '../scss/_constantes.scss';

  .lado {
    border: 1px dotted rgba(var(--colorPrincipal), 0.5);
  }

  #lado1 {
    padding: 2em 1em 1em 1em;
    display: flex;
  }

  .seccion {
    position: relative;
    z-index: 1;
    margin: 3em auto 3em auto;
  }

  .nombrePortada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lienzo {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    pointer-events: none;
  }

  .titulo {
    font-size: 10vw;
    margin-top: -0.44em;
    color: var(--colorPrincipal);
    border-bottom: 3px solid;
    letter-spacing: -3px;
    padding-top: 3px;
  }

  .subtitulo {
    font-size: 0.9em;
    font-weight: $fuentePrincipalBold;
    color: var(--colorPrincipal);
  }

  .contenido {
    padding: 2em 1em 5em;
  }

  #ante {
    font-weight: bold;
  }

  .titulos {
    width: 100%;
    text-align: center;
  }

  .nodo {
    background-color: coral;
  }

  // Teléfonos horizontal
  @media (min-width: $minCelular) {
    .contenido {
      padding: calc($anchoMarco + 2em) 100px 0 calc($anchoMarco + 5em);
    }

    #lado1 {
      padding: calc($anchoMarco + 2em) 0 0 calc($anchoMarco + 2em);
    }

    .titulos {
      width: auto;
      text-align: left;
    }

    .titulo {
      font-size: 3.5em;
    }
  }

  // Pantallas medianas (Tablets)
  @media (min-width: $minTablet) {
    .enflujoLogo {
      width: 151px;
      margin-top: 4em;
      // position: absolute;
    }

    .nombrePortada {
      align-items: flex-start;
      margin-left: 30px;
    }
  }

  // Dispositivos grandes y pantallas medianas
  @media (min-width: $minPantalla) {
  }

  // Pantallas grandes
  @media (min-width: $minPantallaGrande) {
  }
</style>
