---
import Plantilla from '@/plantillas/Plantilla.astro';
import { gql, obtenerDatos } from '@/utilidades/ayudas';
import Logo from '@/componentes/svg/Logo.astro';
import type { MetadatosGenerales } from '@/tipos';

const General = gql`
  query {
    general {
      nombre
      subtitulo
      descripcion
      contenido
      color
      imagen {
        id
        title
        filename_download
        width
        height
      }
    }
  }
`;

const { general } = await obtenerDatos<{ general: MetadatosGenerales }>(General);
---

<Plantilla descripcion={general.descripcion} imagen={general.imagen}>
  <main id="inicio">
    <div id="lado1" class="lado">
      <Logo clase="inicio" />
      <div class="titulos">
        <h1 class="titulo">{general.nombre}</h1>
        <p class="subtitulo">{general.subtitulo}</p>
      </div>
    </div>

    <div class="contenido">{general.contenido}</div>

    <div id="muchachita">
      <img src="https://muchachita.enflujo.com/" alt="Video en vivo del laboratorio EnFlujo" />
    </div>
  </main>
</Plantilla>

<style lang="scss">
  @import '@/scss/_constantes.scss';

  #muchachita {
    position: absolute;
    top: var(--anchoMarco);
    width: calc(100% - (var(--anchoMarco) * 2) - 4px);
    height: calc(100vh - (var(--anchoMarco) * 2) - 4px);
    overflow: hidden;
    z-index: 1;
    opacity: 0.5;
    pointer-events: none;

    img {
      width: 100%;
      height: auto;
    }
  }

  .lado {
    border: 1px dotted rgba(var(--colorPrincipal), 0.5);
  }

  #lado1 {
    padding: 2em 1em 1em 1em;
    display: flex;
  }

  .seccion {
    position: relative;
    z-index: 1;
    margin: 3em auto 3em auto;
  }

  .nombrePortada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titulo {
    font-size: 10vw;
    margin-top: -0.44em;
    color: var(--colorPrincipal);
    border-bottom: 3px solid;
    letter-spacing: -3px;
    padding-top: 3px;
  }

  .subtitulo {
    font-size: 0.9em;
    font-weight: $fuentePrincipalBold;
    color: var(--colorPrincipal);
  }

  .contenido {
    padding: 2em 1em 5em;
  }

  #ante {
    font-weight: bold;
  }

  .titulos {
    width: 100%;
    text-align: center;
  }

  // Teléfonos horizontal
  @media (min-width: $minCelular) {
    .contenido {
      padding: calc(var(--anchoMarco) + 2em) 100px 0 calc(var(--anchoMarco) + 5em);
    }

    #lado1 {
      padding: calc(var(--anchoMarco) + 2em) 0 0 calc(var(--anchoMarco) + 2em);
    }

    .titulos {
      width: auto;
      text-align: left;
    }

    .titulo {
      font-size: 3.5em;
    }
  }

  // Pantallas medianas (Tablets)
  @media (min-width: $minTablet) {
    .enflujoLogo {
      width: 151px;
      margin-top: 4em;
      // position: absolute;
    }

    .nombrePortada {
      align-items: flex-start;
      margin-left: 30px;
    }
  }

  // Dispositivos grandes y pantallas medianas
  @media (min-width: $minPantalla) {
  }

  // Pantallas grandes
  @media (min-width: $minPantallaGrande) {
  }
</style>
