---
import Plantilla from '@/plantillas/Plantilla.astro';
import { gql, obtenerDatos } from '@/utilidades/ayudas';
import Logo from '@/componentes/svg/Logo.astro';
import type { MetadatosGenerales } from '@/tipos';

const General = gql`
  query {
    general {
      nombre
      subtitulo
      descripcion
      contenido
      color
      imagen {
        id
        title
        filename_download
        width
        height
      }
    }
  }
`;

const { general } = await obtenerDatos<{ general: MetadatosGenerales }>(General);
---

<Plantilla descripcion={general.descripcion} imagen={general.imagen}>
  <main id="inicio">
    <div id="muchachita">
      <img src="https://muchachita.enflujo.com/" alt="Video en vivo del laboratorio EnFlujo" />
    </div>

    <div id="contenedorTextoInicio">
      <div id="lado1" class="lado">
        <Logo clase="inicio" />
        <div class="titulos">
          <h1 class="titulo">{general.nombre}</h1>
          <p class="subtitulo">{general.subtitulo}</p>
        </div>
      </div>

      <div class="contenido">{general.contenido}</div>
    </div>
  </main>
</Plantilla>

<style lang="scss">
  @use '@/scss/constantes' as *;

  #muchachita {
    position: absolute;
    top: 40px;
    width: calc(100% - 80px - 4px);
    height: calc(100vh - (var(--anchoMarco) * 2) - 4px);
    overflow: hidden;
    z-index: 1;
    opacity: 1;
    pointer-events: none;

    img {
      width: 100%;
      height: auto;
    }
  }

  .lado {
    border: 1px dotted rgba(var(--colorPrincipal), 0.5);
  }

  #lado1 {
    padding: 2em 1em 1em 1em;
    display: flex;
    z-index: 9;
  }

  .seccion {
    position: relative;
    z-index: 1;
    margin: 3em auto 3em auto;
  }

  .nombrePortada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titulos {
    width: 100%;
    text-align: center;
    margin-top: calc(80vw - 80px);

    .titulo {
      font-size: 12.5vw;
      color: var(--colorPrincipal);
      border-bottom: 2px solid;
      max-width: 80%;
      margin: auto;
      letter-spacing: 0px;
      padding-top: 3px;
      padding-bottom: 10px;
    }

    .subtitulo {
      font-size: 0.9em;
      font-weight: 600;
      color: var(--colorPrincipal);
    }
  }

  .contenido {
    padding: 1.5em 1.8em 5em;
    font-size: 0.95em;
    z-index: 9;
  }

  #ante {
    font-weight: bold;
  }

  // Teléfonos horizontal
  @media (min-width: $minCelular) {
    #muchachita {
      position: absolute;
      top: var(--anchoMarco);
      width: calc(100% - $anchoMarco * 2);
      height: 77vh;
      overflow: hidden;
      z-index: 1;
      opacity: 0.5;

      img {
        width: 100%;
        height: auto;
      }
    }

    #contenedorTextoInicio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 6vh;

      #lado1 {
        padding: calc(var(--anchoMarco) + 2em) 0 0 calc(var(--anchoMarco) + 2em);
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }

      .titulos {
        width: auto;
        text-align: left;
        margin-top: 0;
        .titulo {
          font-size: 2.5em;
          margin-top: -0.44em;
          color: var(--colorPrincipal);
          border-bottom: 3px solid;
          letter-spacing: -3px;
          padding-top: 3px;
          max-width: 100%;
        }
        .subtitulo {
          font-size: 0.9em;
          font-weight: $fuentePrincipalBold;
          color: var(--colorPrincipal);
        }
      }
    }
  }
  // Pantallas medianas (Tablets)
  @media (min-width: $minTablet) {
    #contenedorTextoInicio {
      #lado1 {
        padding: calc(var(--anchoMarco) + 2em) 0 0 calc(var(--anchoMarco) + 1em);
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }

      .titulos {
        .titulo {
          font-size: 2.8em;
          margin-top: -0.44em;
          color: var(--colorPrincipal);
          border-bottom: 3px solid;
          letter-spacing: -3px;
          padding-top: 3px;
          max-width: 100%;
        }
        .subtitulo {
          font-size: 0.7em;
          font-weight: $fuentePrincipalBold;
          color: var(--colorPrincipal);
        }
      }
      .enflujoLogo {
        width: 151px;
        margin-top: 4em;
      }

      .nombrePortada {
        align-items: flex-start;
        margin-left: 30px;
      }

      .contenido {
        padding: calc(var(--anchoMarco) - 10px) 30px 30px 11vw;
        height: 71vh;
        overflow: scroll;
      }
    }
  }

  // Dispositivos grandes y pantallas medianas
  @media (min-width: $minPantalla) {
    #contenedorTextoInicio {
      justify-content: left;

      .titulos {
        width: auto;
        text-align: left;
        margin-top: 0;
        .titulo {
          font-size: 3.5em;
          margin-top: -0.44em;
          color: var(--colorPrincipal);
          border-bottom: 3px solid;
          letter-spacing: -3px;
          padding-top: 3px;
          max-width: 100%;
        }
        .subtitulo {
          font-size: 0.9em;
          font-weight: $fuentePrincipalBold;
          color: var(--colorPrincipal);
        }
      }
      #lado1 {
        justify-content: left;
        padding: calc(var(--anchoMarco) + 2em) 0 0 calc(var(--anchoMarco) + 3em);
        display: flex;
        align-items: flex-start;
      }
      .contenido {
        padding: calc(var(--anchoMarco) + 2em) 3vw 0 calc(var(--anchoMarco) + 5em);
        overflow: auto;
      }
    }
    #muchachita {
      position: absolute;
      top: var(--anchoMarco);
      width: calc(100% - (var(--anchoMarco) * 2) - 4px);
      height: calc(100vh - (var(--anchoMarco) * 2) - 2px);
      z-index: 1;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  // Pantallas grandes
  @media (min-width: $minPantallaGrande) {
    .contenido {
      padding: calc(var(--anchoMarco) + 2em) 100px 0 calc(var(--anchoMarco) + 5em);
      margin-right: 10vw;
      max-width: 800px;
    }
  }
</style>
