---
import type { Proyecto } from '@/tipos';
import { formatoFecha } from '@/utilidades/ayudas';

export type Props = {
  datos: Proyecto;
};
const { datos } = Astro.props;

const texto = (estado: boolean, fecha: string | Date) =>
  estado ? `Publicado el ${formatoFecha(new Date(fecha))}` : 'En proceso';

datos.terminado = !!datos.fecha_publicacion;
---

<div class="descripcion seccionDescripcion">
  <div class="fecha">
    <p class="textoEstado">
      {texto(datos.terminado, datos.fecha_publicacion || datos.fecha_inicio)}
    </p>
    <p class="notaEnFlujo" data-fecha={datos.fecha_publicacion || datos.fecha_inicio}></p>
  </div>

  <p>{datos.descripcion}</p>
</div>

{
  datos.repos && (
    <div class="descripcion repos">
      <p class="interTitulo">Código:</p>
      {datos.repos.map((repo) => (
        <div class="repo">
          <img class="iconoRed" src="/imgs/github.svg" alt="Icono GitHub" />
          <a class="repoNombre" href={repo.url} target="_blank" rel="external">
            {repo.nombre}
          </a>
        </div>
      ))}
    </div>
  )
}

{
  datos.colegas && datos.colegas.length > 0 && (
    <div class="descripcion colegas">
      <p class="interTitulo">Colaborador{datos.colegas.length > 1 ? 'es' : ''}:</p>
      <ul class="listaColegas">
        {datos.colegas.map(({ colegas_id }) => (
          <li class="colega">
            {colegas_id.enlace && (
              <a class="enlaceExterno" href={colegas_id.enlace} target="_blank" rel="external">
                {colegas_id.nombre}
              </a>
            )}
            {!colegas_id.enlace && colegas_id.nombre}
          </li>
        ))}
      </ul>
    </div>
  )
}

<style lang="scss">
  @use '@/scss/mixins' as *;

  .descripcion {
    font-size: 0.85em;
  }

  .seccionDescripcion {
    font-size: 1em;
  }

  .textoEstado {
    margin: 0.3em 0 0 0;
  }

  .notaEnFlujo {
    margin-top: 0;
  }

  .interTitulo {
    margin: 0 0.3em 0 0;
    line-height: 1.25;
  }

  .repos {
    display: flex;
    align-items: center;
    margin: 1.5em 0;
    flex-wrap: wrap;

    .repo {
      margin-right: 1em;
      display: flex;
      align-items: center;
    }
    .iconoRed {
      width: 15px;
    }
    .repoNombre {
      margin-left: 0.2em;
    }
  }

  .listaColegas {
    margin-top: 0.8em;
    @include lista;

    li {
      line-height: 1;
    }
  }
</style>
