---
import Logo from '@/componentes/svg/Logo.astro';
import Redes from '@/componentes/svg/Redes.astro';
import { gql, obtenerDatos } from '@/utilidades/ayudas';

type Red = {
  red: string;
  url: string;
};

type Pagina = {
  slug: string;
  titulo: string;
};

const Paginas = gql`
  query {
    general {
      redes
    }

    paginas(filter: { estado: { _eq: "publicado" } }) {
      slug
      titulo
    }
  }
`;
const { general, paginas } = await obtenerDatos(Paginas);
const rutaActual = Astro.url.pathname.slice(1).split('/');
---

<div>
  <nav class="navegacion">
    <a href="/" class="logoBtn">
      <Logo clase="menuSuperior" />
    </a>
    <ul class="paginas">
      {
        paginas.map((pagina: Pagina) => (
          <li>
            <a href={`/${pagina.slug}`} class={`navBtn${rutaActual.includes(pagina.slug) ? ' activo' : ''}`}>
              {pagina.titulo}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>

  <div id="menuPrincipal" class="">
    <nav id="menuContenido">
      <a href="/" class="navBtn">Inicio</a>
      {
        paginas.map((pagina: Pagina) => (
          <a href={`/${pagina.slug}`} class={`navBtn${rutaActual.includes(pagina.slug) ? ' activo' : ''}`}>
            {pagina.titulo}
          </a>
        ))
      }

      <span class="lineaVertical"></span>
    </nav>

    <nav class="menuRedes">
      {
        general.redes.map((obj: Red) => (
          <a href={obj.url} target="_blank" rel="noopener">
            <Redes nombre={obj.red} />
          </a>
        ))
      }
    </nav>

    <div id="menuBtn">
      <span class="menuRaya"></span>
    </div>
  </div>
</div>

<script>
  const menu = document.getElementById('menuPrincipal');
  const menuBtn = document.getElementById('menuBtn');

  menuBtn.onclick = () => {
    menu.classList.toggle('abierto');
  };

  document.body.onclick = (evento) => {
    if (!(menu === evento.target || menu.contains(evento.target as Node))) {
      menu.classList.remove('abierto');
    }
  };
</script>

<style lang="scss" is:global>
  @use 'sass:color';
  @import '../scss/_constantes.scss';

  $menuRayaAncho: 30px;
  $menuRayaAlto: 2px;
  $menuRayaRadio: 2px;
  $menuRayaEspacio: 8px;
  $menuRayaColor: rgb(36, 36, 36);

  #menuPrincipal {
    font-family: $fuenteMono;
    z-index: 9999;
    &.abierto {
      .menuBtn {
        background-color: initial !important;
        color: white;
      }
      .menuRaya {
        background-color: white;
        &::before,
        &::after {
          background-color: white;
        }
      }
    }
  }

  #menuBtn {
    position: fixed;
    right: 0;
    top: 0;
    width: $anchoMarco;
    height: $anchoMarco;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 99;
  }

  .menuRaya {
    width: $menuRayaAncho;
    height: $menuRayaAlto;
    background-color: $menuRayaColor;
    border-radius: $menuRayaRadio;
    transition: all 0.2s ease-in-out;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: $menuRayaAncho;
      height: $menuRayaAlto;
      background-color: $menuRayaColor;
      border-radius: $menuRayaRadio;
      transition: all 0.5s ease-in-out;
    }
    &::before {
      transform: translate(0, -$menuRayaEspacio);
    }
    &::after {
      transform: translate(0, $menuRayaEspacio);
    }
  }

  #menuContenido {
    height: 0;
    width: 0;
    position: fixed;
    right: 0;
    padding: 0;
    top: 0;
    text-align: center;
    font-size: 0;
    color: white;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a,
    a:link {
      color: white;
      padding: 0.3em 1em 0.7em 0.3em;
      margin-bottom: 0.5em;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-weight: $fuentePrincipalPeso;
      &:hover {
        color: color.scale($colorPrincipal, $lightness: 70%);
      }
      &.activo {
        opacity: 0.5;
      }
    }
  }

  .navBtn,
  .navBtn:link {
    color: black;

    &:hover {
      color: var(--colorPrincipal);
    }
  }

  .navegacion {
    z-index: 999;

    .paginas {
      display: none;
    }
  }

  .logoBtn {
    line-height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }

  #menuContenido {
    background-color: var(--colorPrincipal);
  }

  .abierto {
    .menuBtn {
      .menuRaya {
        height: 0;
        width: 0;
        &::before {
          transform: rotate(45deg) translate(-12px, 12px);
        }
        &::after {
          transform: rotate(-45deg) translate(-12px, -12px);
        }
      }
    }

    #menuContenido {
      width: 100vw;
      height: 100%;
      padding: 60px 3em;
      font-size: 1.2em;
      z-index: 98;
    }

    .iconoRed {
      fill: white;
    }
  }

  .menuRedes {
    display: flex;
    margin: 10px 70px;
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 0;

    a {
      width: 15px;
      height: 15px;
      margin: 5px;
      &:hover {
        opacity: 0.5;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  // Pantallas medianas (Tablets)
  @media (min-width: $minCelular) {
    .menuBtn {
      width: $anchoMarco;
      right: 0;
      top: 0;
      cursor: pointer;
    }

    .navegacion {
      font-weight: $fuentePrincipalBold;
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 50px;

      .paginas {
        display: flex;
        width: calc(100% - 100px);
        border-bottom: 3px solid black;
        height: 50px;
        align-items: center;
        padding-left: 1em;
        flex: auto;
        background-color: rgba(255, 255, 255, 1);
        position: fixed;
        top: 0;
        left: 50px;
      }
    }

    .navBtn {
      border-bottom: 1px solid transparent;
      padding: 0 0.5em 0.3em 0;
      margin-right: 0.5em;
      height: 50px;

      &.activo {
        border-bottom: 1px solid var(--colorPrincipal);
      }
    }

    .abierto {
      #menuContenido {
        width: 50vw;
      }
      .lineaVertical {
        width: 2px;
        height: calc(100vh - #{$anchoMarco});
        top: $anchoMarco;
        right: 25px;
        background-color: white;
        position: absolute;
      }
    }
  }
  // Dispositivos grandes y pantallas medianas
  @media (min-width: $minPantalla) {
    .abierto {
      #menuContenido {
        width: 45vw;
      }
    }
  }
  // Pantallas grandes
  @media (min-width: $minPantallaGrande) {
    .abierto {
      #menuContenido {
        width: 28vw;
        padding: 60px 2em;
      }
    }
  }
</style>
