---
import { urlImagen } from '@/utilidades/ayudas';
import FiltroSVG from './FiltroSVG.astro';
const { datos, imagen, coleccion } = Astro.props;
const dimsImg = { ancho: '630', alto: '350' };
---

<!-- <FiltroSVG /> -->
<div class="tarjeta">
  <div class="contenedorImg">
    <a class="enlaceImg" href={`/${coleccion}/${datos.slug}`}>
      {
        imagen ? (
        
        <svg 
        
        viewBox=`0 0 ${dimsImg.ancho} ${dimsImg.alto}`

       class="cajaFiltroSVG"
        x="-10%"
        y="-10%"
        width="120%"
        height="120%"
        filterUnits="objectBoundingBox"
        primitiveUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
        >
          <filter id="filtroSVG">
           <feColorMatrix
      type="matrix"
      values="1 0 0 0 0
              1 0 0 0 0
              1 0 0 0 0
              0 0 0 1 0"
      in="SourceGraphic"
      result="colormatrix"></feColorMatrix>
    <feComponentTransfer in="colormatrix" result="componentTransfer">
      <feFuncR type="table" tableValues="0.34 1"></feFuncR>
      <feFuncG type="table" tableValues="0.34 1"></feFuncG>
      <feFuncB type="table" tableValues="0.97 1"></feFuncB>
      <feFuncA type="table" tableValues="0 1"></feFuncA>
    </feComponentTransfer>
    <feBlend mode="lighten" in="componentTransfer" in2="SourceGraphic" result="blend"></feBlend>
  </filter>
  {/* <image xlink:href=`${urlImagen(imagen.id, {
              width: '667',
              height: '350',
              quality: '90',
              format: 'webp',
            })}`   data-src={urlImagen(imagen.id, {
              width: '667',
              height: '350',
              quality: '90',
              format: 'webp',
            })}   width="100%" x="0" y="0" height="100%" filter="url(#duotone)"></image> */}

          <img
            class="perezoso"
            src={`data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0 0 ${dimsImg.ancho} ${dimsImg.alto}'%3E%3C/svg%3E`}
            data-src={urlImagen(imagen.id, {
              width: '667',
              height: '350',
              quality: '90',
              format: 'webp',
            })}
            alt={imagen.title}
            width={dimsImg.ancho}
            height={dimsImg.alto}
          />

          </svg>
        ) : (

          <img
            src={`data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0 0 ${dimsImg.ancho} ${dimsImg.alto}'%3E%3C/svg%3E`}
            alt={datos.titulo}
            width={dimsImg.ancho}
            height={dimsImg.alto}
          />
        )
      }
    </a>
  </div>

  <section class="contenedorDescripcion">
    <a class="titulo" href={`/${coleccion}/${datos.slug}`}>
      <h2>{datos.titulo}</h2>
    </a>

    <slot />
  </section>
</div>




<style lang="scss" is:global>
  @import '../scss/_constantes.scss';

  // .cajaFiltroSVG {
  //   display: none;
  // }
  .tarjeta {
    display: flex;
    flex-direction: column;

    .contenedorImg {

    
      a {
        display: block;
        line-height: 0;
      
      }

      .perezoso {
        // filter: url(#filtroSVG);
        &:hover {
          filter: url(#filtroSVG);
        }
      }

      img {
        height: auto;
        width: 100%;
      }
    }

    .contenedorDescripcion {
      font-size: 0.8em;
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid;
      padding: 0 1em;

      .titulo,
      .titulo:link {
        transition: 0.2s ease-in-out opacity;
        font-size: 1.2em;

        &:hover {
          opacity: 0.6;
        }

        h2 {
          font-size: 1.1em;
        }

        p {
          line-height: 1.2;
        }
      }
    }

    .fecha {
      font-weight: $fuentePrincipalBold;
      font-style: italic;
      p {
        margin: 0;
      }
      &.proceso {
        color: $colorOscuro2;
      }
    }
  }

  // Teléfonos horizontal
  @media (min-width: $minCelular) {
  }

  // Pantallas medianas (Tablets)
  @media (min-width: $minTablet) {
    .tarjeta {
      flex-direction: row;
      margin-bottom: 2em;

      .contenedorImg {
        flex-basis: 50%;
      }

      .contenedorDescripcion {
        width: 50%;
        margin-left: 1em;
        margin-top: 0;
      }
    }
  }

  // Dispositivos grandes y pantallas medianas
  @media (min-width: $minPantalla) {
  }

  // Pantallas grandes
  @media (min-width: $minPantallaGrande) {
    .tarjeta {
      width: 48%;
    }
  }

  @media (min-width: $minPantallaGigante) {
    .tarjeta {
      width: 800px;
    }
  }
</style>
