---
import DescripcionProyecto from '@/componentes/DescripcionProyecto.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import { gql, obtenerDatos, urlImagen } from '@/utilidades/ayudas';
import { Marked } from 'marked';
import { markedHighlight } from 'marked-highlight';
import { highlightText } from '@speed-highlight/core';
import type { ShjLanguage } from '@speed-highlight/core';
import '@speed-highlight/core/themes/github-dim.css';
import type { Proyecto } from '@/tipos';

const marked = new Marked(
  markedHighlight({
    async: true,
    langPrefix: 'shj-lang-',
    highlight: (codigo: string, lenguaje: string) => {
      return highlightText(codigo, lenguaje as ShjLanguage, true);
    },
  })
);

/**
 * Esto es de Astro específicamente para crear las rutas dinámicamente, se tiene que llamar getStaticPaths()
 * Documentación en: https://docs.astro.build/en/reference/api-reference/#getstaticpaths
 */
export async function getStaticPaths() {
  const Proyectos = gql`
    query {
      proyectos(filter: { estado: { _eq: "publicado" } }, sort: ["-date_created"]) {
        slug
      }
    }
  `;
  const { proyectos } = await obtenerDatos<{ proyectos: { slug: string }[] }>(Proyectos);

  return proyectos.map(({ slug }) => {
    return { params: { slug } };
  });
}

const { slug } = Astro.params;

const Proyecto = gql`
  query {
    proyectos(filter: { slug: { _eq: "${slug}" }, estado: {_eq: "publicado"} }, limit: 1) {
      titulo
      slug
      descripcion
      contenido
      fecha_publicacion
      date_created
      fecha_inicio
      enlace
      estado
      repos
      imagen {
        id
        title
      }
    }
  }
`;

const { proyectos } = await obtenerDatos<{ proyectos: Proyecto[] }>(Proyecto);
let pagina: Proyecto;

if (proyectos && proyectos.length) {
  pagina = proyectos[0];
  if (pagina.fecha_publicacion) pagina.fecha_publicacion = new Date(pagina.fecha_publicacion);
  if (pagina.date_created) pagina.fecha_publicacion = new Date(pagina.date_created);

  if (pagina.contenido && pagina.contenido.length) {
    const comando = /\/\/\/(.*?)\)/g;
    const imgsGaleria = pagina.contenido.match(comando);

    if (imgsGaleria) {
      imgsGaleria.forEach((elemento: string) => {
        const alt = elemento.match(/(?<=\[).+?(?=\])/);
        const id = elemento.match(/(?<=\().+?(?=\))/);

        const html = `<picture>
          <source media="(max-width: 396px)" srcset="https://api.enflujo.com/assets/${id}?height=200&quality=75&format=webp" />
          <source media="(max-width: 799px)" srcset="https://api.enflujo.com/assets/${id}?height=400&quality=80&format=webp" />
          <source media="(min-width: 800px)" srcset="https://api.enflujo.com/assets/${id}?height=500&quality=90&format=webp" />
          <img class='imagenGaleria' src="https://api.enflujo.com/assets/${id}?height=500&quality=90&format=webp" alt="${alt}" />
        </picture>
        `;

        pagina.contenido = pagina.contenido.replace(elemento, html);
      });
    }
  }
} else {
  return Astro.redirect('/404');
}
---

<Plantilla titulo={pagina.titulo} descripcion={pagina.descripcion} imagen={pagina.imagen}>
  <main class="pagina">
    <div id="portada">
      <div class="imagen">
        {
          pagina.imagen && pagina.imagen.id && (
            <img
              src={urlImagen(pagina.imagen.id, {
                width: 1200,
                height: 630,
                quality: 90,
                format: 'webp',
              })}
              alt={pagina.imagen.title}
              width="1200"
              height="630"
            />
          )
        }
      </div>

      <section class="contenidoPortada">
        <h1>{pagina.titulo}</h1>

        <DescripcionProyecto datos={pagina} />

        {
          pagina.enlace && (
            <a class={`enlace ${pagina.estado}`} href={pagina.enlace} target="_blank">
              Ver Proyecto
            </a>
          )
        }
      </section>
    </div>

    {
      pagina.contenido && (
        <div class="contenidoProyecto">
          <Fragment set:html={marked.parse(pagina.contenido)} />
        </div>
      )
    }
  </main>
</Plantilla>

<script>
  // Ampliar fotos de galería
  const galeria = document.querySelector('.galeria');

  if (galeria) {
    const imagenesGaleria = document.querySelectorAll('.imagenGaleria');
    const contenedorImgGrande = document.createElement('div');
    const botonSiguiente = document.createElement('div');
    const botonAnterior = document.createElement('div');

    contenedorImgGrande.classList.add('imagenGrande');
    botonSiguiente.classList.add('botonGaleria');
    botonAnterior.classList.add('botonGaleria');

    botonSiguiente.id = 'botonSiguiente';
    botonAnterior.id = 'botonAnterior';

    botonSiguiente.innerText = '>';
    botonAnterior.innerText = '<';

    contenedorImgGrande.appendChild(botonAnterior);
    contenedorImgGrande.appendChild(botonSiguiente);

    let imagenActual: number;

    botonSiguiente.addEventListener('click', () => {
      if (imagenActual < imagenesGaleria.length - 1) {
        imagenActual++;
      }
    });

    botonAnterior.addEventListener('click', () => {
      if (imagenActual > 0) imagenActual--;
    });

    // Agrandar imagen de galería al hacer click
    imagenesGaleria.forEach((imagen, i) => {
      imagen.addEventListener('click', () => {
        imagenActual = i;
        const urlImagen = imagen.getAttribute('src');
        contenedorImgGrande.style.backgroundImage = `url("${urlImagen}")`;
        contenedorImgGrande.classList.toggle('visible');
      });

      // Cerrar foto grande al hacer click
      document.body.addEventListener('click', (evento) => {
        if (
          evento.target !== botonAnterior &&
          evento.target !== botonSiguiente &&
          !galeria.contains(evento.target as Node)
        ) {
          contenedorImgGrande.classList.remove('visible');
        }
      });

      botonSiguiente.addEventListener('click', () => {
        const urlNuevaImagen = imagenesGaleria[imagenActual].getAttribute('src');
        contenedorImgGrande.style.backgroundImage = `url("${urlNuevaImagen}")`;
      });

      botonAnterior.addEventListener('click', () => {
        const urlNuevaImagen = imagenesGaleria[imagenActual].getAttribute('src');
        contenedorImgGrande.style.backgroundImage = `url("${urlNuevaImagen}")`;
      });
    });

    contenedorImgGrande.addEventListener('click', (evento) => {
      if (evento.target !== botonAnterior && evento.target !== botonSiguiente) {
        if (contenedorImgGrande.classList.contains('visible')) {
          contenedorImgGrande.classList.remove('visible');
        }
      }
    });

    galeria.appendChild(contenedorImgGrande);
  }
</script>

<style lang="scss">
  @import '../../scss/_constantes.scss';
  @import '../../scss/_mixins.scss';

  .seccionProyecto {
    margin-top: 1em;
  }

  .enlace,
  .enlace:link {
    padding: 0.5em;
    background-color: $colorPrincipal;
    font-weight: $fuentePrincipalPeso;
    color: white;
    width: 50%;
    text-align: center;
    width: 100%;
    margin: 1em 0;
    display: block;

    &:hover {
      opacity: 0.8;
      color: white;
    }

    &.proceso {
      background-color: $colorOscuro2;
    }
  }

  #portada {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .imagen {
      img {
        max-height: 80vh;
        width: auto;
      }
    }

    .contenidoPortada {
      flex-basis: 50%;
      padding: 2em 10%;
      margin: auto;
    }
  }

  .contenidoProyecto {
    padding: 0em 2em;

    .contenedorVideo169 {
      width: 100%;
      padding-top: 56.25%;
      position: relative;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (min-width: $minTablet) {
    .contenidoProyecto {
      padding: 3em 4em;
      width: 90vw;
    }
  }
  @media (min-width: $minPantalla) {
    #portada {
      display: flex;
      flex-direction: row;

      .contenidoPortada {
        flex-basis: 50%;
        padding: 4em 5%;
        margin: auto;
      }
    }
    .contenidoProyecto {
      padding: 3em 4em;
      width: 90vw;
    }
  }
</style>

<style lang="scss" is:global>
  @import '../../scss/_constantes.scss';

  .contenidoProyecto {
    ul {
      list-style: circle;
      margin-left: 20px;
    }

    .contenedorVideo169 {
      width: 100%;
      padding-top: 56.25%;
      position: relative;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    pre {
      width: 80vw;
      margin: 1em 0;
    }

    h3 {
      margin-top: 1.5em;
    }

    .fotoSingular {
      width: 40vw;
      margin: 1em;
    }

    .galeria {
      margin: 1em 0;
      display: flex;
      flex-wrap: wrap;
    }

    .imagenGaleria {
      cursor: pointer;
      display: block;
      position: relative;
      width: auto;
      margin: 0.5em;
      max-height: 30vh;
    }

    .imagenGrande {
      display: none;
      position: absolute;
      z-index: 9;
      cursor: pointer;
      border: 3px black solid;
      left: 15%;
      width: 70%;
      background-color: rgba(255, 255, 255, 0.83);
      height: 80vh;
      background-position: center;
      background-image: url(https://api.enflujo.com/assets/479f5d89-801a-4a70-a259-4386ac3028e5?height=500&quality=90&format=webp);
      background-repeat: no-repeat;
      background-size: contain;

      &.visible {
        display: block;
      }
    }

    .botonGaleria {
      position: absolute;
      font-size: 2em;
      display: flex;
      align-items: center;
      padding: 0 0.7em;
      height: 100%;

      &:hover {
        color: $colorPrincipal;
      }
    }

    #botonSiguiente {
      right: 0;
    }
  }

  @media (min-width: $minTablet) {
    .contenidoProyecto {
      .imagenGrande {
        left: 10%;
        width: 80%;
      }
    }
  }

  @media (min-width: $minPantalla) {
    .contenidoProyecto {
      p {
        padding: 1em;
        margin-top: 0;
      }

      h2 {
        padding: 20px;
      }
      .imagenGrande {
        left: 5vw;
        width: 90%;
      }
    }
  }
</style>
