---
import Plantilla from '@/plantillas/Plantilla.astro';
import { gql, obtenerDatos } from '@/utilidades/ayudas';
import Tarjeta from '@/componentes/Tarjeta.astro';
import { Proyecto } from '@/tipos';
import DescripcionProyecto from '@/componentes/DescripcionProyecto.astro';

const Proyectos = gql`
  query {
    paginas(filter: { slug: { _eq: "proyectos" }, estado: { _eq: "publicado" } }, limit: 1) {
      titulo
      slug
      descripcion
      contenido
      imagen {
        id
        title
      }
    }

    proyectos(filter: { estado: { _eq: "publicado" } }, sort: ["-date_created"]) {
      titulo
      slug
      descripcion
      fecha_publicacion
      date_created
      fecha_inicio
      enlace
      repos
      temas {
        glosario_id(filter: { estado: { _eq: "publicado" } }) {
          titulo
        }
      }
      imagen {
        id
        title
      }
    }
  }
`;
const { proyectos, paginas } = await obtenerDatos(Proyectos);
const pagina = paginas.length && paginas[0].slug ? paginas[0] : null;
---

<Plantilla titulo={pagina.titulo} descripcion={pagina.descripcion} imagen={pagina.imagen}>
  <main id="archivoProyectos" class="pagina">
    <section class="inicioPagina">
      <h1 class="tituloPagina">{pagina.titulo}</h1>
    </section>

    <div class="contenedorTarjetas">
      {
        proyectos.map((proyecto: Proyecto) => (
          <Tarjeta datos={proyecto} imagen={proyecto.imagen} coleccion="proyectos">
            <DescripcionProyecto datos={proyecto} />
          </Tarjeta>
        ))
      }
    </div>
  </main>

  <div id="videoFondo">
    <img id="ventanita" src="" alt="Es una ventanita de EnFlujo" />
  </div>
</Plantilla>

<script>
  const ventanita = document.getElementById('ventanita') as HTMLImageElement;
  const ws = new WebSocket(`wss://ventanita.enflujo.com/ventanita`);

  ws.onmessage = (evento) => {
    ventanita.src = `data:image/jpeg;base64,${evento.data}`;
  };
</script>

<style lang="scss">
  @import '../../scss/_constantes.scss';
  main {
    z-index: 2;
  }

  #videoFondo {
    position: fixed;
    top: var(--anchoMarco);
    left: var(--anchoMarco);
    z-index: -1;
    opacity: 0.2;
    pointer-events: none;
    width: calc(100% - (var(--anchoMarco) * 2) - 4px);
    height: calc(100vh - (var(--anchoMarco) * 2) - 4px);
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    margin: 1em 0;
    line-height: 1.4;
  }

  .seccionDescripcion {
    margin: 0.5em 0;
  }

  #filtros {
    font-size: 0.9em;
    left: 0;

    .intertitulo {
      font-weight: $fuentePrincipalBold;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &.activo {
        li {
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }

      li {
        cursor: pointer;
        margin-right: 0.3em;
        font-style: italic;

        &:hover {
          color: $colorPrincipal;
        }

        &.actual {
          opacity: 1;

          &:hover {
            color: $colorOscuro;
          }
        }
      }
    }
  }
</style>
